// Add your own custom styles here

/* heebo-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'heebo-local';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/heebo-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* heebo-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'heebo-local';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/heebo-v22-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* signika-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'signika-local';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/signika-v25-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* signika-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'signika-local';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/signika-v25-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.btn {
  text-transform: none;
}

.article-image {
  transition: transform .4s ease;
}

.article-image-link:hover .article-image {
  transform: scale(1.1);
}

.article-share .share-link {
  margin: 0;
}
