{{ define "main" }}
  <!-- Banner -->
  {{ with .Params.banner }}
    <section class="pt-12 pb-6 lg:pt-14 lg:pb-12">
      <div class="container">
        <div class="row justify-center">
          <div class="lg:col-7 mb-8 text-center">
            <h1 class="mb-4">
              {{ .title | markdownify }}
            </h1>
            <p class="mb-8">
              {{ .content | markdownify }}
            </p>
            {{ with .button }}
              {{ if .enable }}
                <a class="btn btn-primary" href="{{ .link | absURL }}">
                  {{ .label }}
                  <i class="fa fa-arrow-right pl-2"></i>
                </a>
              {{ end }}
            {{ end }}
          </div>
          <div class="col-12">
            {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "mx-auto" "Size" "800x") }}
          </div>
        </div>
      </div>
    </section>
    {{ end }}
    <!-- /Banner -->

    <div class="container">
      <div class="row gx-5">
        <div class="text-center">
          <h2>{{ i18n "latest_articles" }}</h2>
        </div>
      </div>
    </div>

    <section class="pt-12">
      <div class="container">
        <div class="row gx-5">
          <!-- blog posts -->
          <div class="lg:col-12">
            <div class="row">
              {{ range .Paginator.Pages }}
                {{ if and (eq .Section "blog") (not .IsHome) }}
                  <div class="md:col-6 mb-14">
                    {{ partial "components/blog-card" . }}
                  </div>
                {{ end }}
              {{ end }}
            </div>
          </div>
          <div class="lg:col-12">
            <div class="row text-center">
              <div class="mt-6 mb-8 text-center">
                <a class="btn btn-primary" href="/blog">
                  All articles
                  <i class="fa fa-arrow-right pl-2"></i>
                </a>
              </div>
            </div>
          </div>
      </div>
    </section>
{{ end }}
